* {
  box-sizing: border-box;
  margin: 0 auto;
}

body, html {
  height: 100%;
  margin:0;
  padding:0;
  width: 100%;
}

.item-a { grid-area: a; }
.item-b { grid-area: b; }
.item-c { grid-area: c; }
.item-d { grid-area: d; }
.item-e { grid-area: e; }
.item-f { grid-area: f; }
.item-g { grid-area: g; }
.item-h { grid-area: h; }
.item-i { grid-area: i; }
