.grid-container {
  display: grid;
  grid-template-areas:
    'a a a a a a'
    'b b b b b b'
    'c c c c c c'
    'd d d d d d'
    'e e e f f f'
    'g g g h h h'
    'i i i i i i';
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

/* a */
/* .item-a {
  width: 480px;
  height: 75px;
  border: 1px solid black;
  background-color: #9F756C;
} */

/* b */
/* .item-b {
  width: 480px;
  height: 150px;
  border: 1px solid black;
  background-color: #7C9F6C;
} */

/* c */
/* .item-c {
  width: 480px;
  height: 125px;
  border: 1px solid black;
  background-color: #6C969F;
} */

/* d */
/* .item-d {
  width: 480px;
  height: 125px;
  border: 1px solid black;
  background-color: #8E6C9F;
} */

/* e */
/* .item-e {
  width: 240px;
  height: 250px;
  border: 1px solid black;
  background-color: #9F8A6C;
} */

/* f */
/* .item-f {
  width: 240px;
  height: 250px;
  border: 1px solid black;
  background-color: #6C9F70;
} */

/* g */
/* .item-g {
  width: 240px;
  height: 250px;
  border: 1px solid black;
  background-color: #6C819F;
} */

/* h */
/* .item-h {
  width: 240px;
  height: 250px;
  border: 1px solid black;
  background-color: #9F756C;
} */

/* i */
/* .item-i {
  width: 480px;
  height: 80px;
  border: 1px solid black;
  background-color: #9F6C9B;
} */

/* @media( min-width: 960px ) {
  .item-a {
   width: 960px;
   height: 100px;
  }
  .item-b {
   width: 200px;
   height: 600px;
  }
  .item-c {
    width: 380px;
    height: 200px;
  }
  .item-d {
    width: 380px;
    height: 200px;
  }
  .item-e, .item-f, .item-g, .item-h {
    width: 190px;
    height: 250px;
  }
  .item-e {
    width: 760px;
    height: 150px;
  }
} */
